@charset "UTF-8";
/* -------------------- resetCSS -------------------- */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* -------------------- restCSS end -------------------- */
/* Box sizing rules */
/* Box sizingの定義 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* デフォルトのpaddingを削除 */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
/* デフォルトのmarginを削除 */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
/* bodyのデフォルトを定義 */
body {
  width: 100%;
  font-family: "游明朝体", serif;
  color: #000000;
}

/* Remove list styles on ul, ol elements with a class attribute */
/* class属性を持つul、ol要素のリストスタイルを削除 */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/* classを持たない要素はデフォルトのスタイルを取得 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img要素の扱いを簡単にする */
img {
  width: 100%;
  vertical-align: bottom;
}

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
/* inputやbuttonなどのフォントは継承を定義 */
input,
button,
textarea,
select {
  font: inherit;
  appearance: none;
  -webkit-appearance: none;
}

/* その他 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  margin: 0px;
  padding: 0px;
}

a {
  outline: none;
  text-decoration: none;
}

a img {
  border: none;
}

.scroll-stop {
  overflow: hidden;
}

.unlink {
  color: #dedede !important;
  pointer-events: none;
}

.body {
  background-color: #FFFFFF;
}

/* PC ================================================== */
@media all and (min-width: 960px) {
  .tablet,
.sp {
    display: none;
  }

  .pc {
    display: block;
  }
}
/* Tablet ================================================== */
@media all and (min-width: 560px) and (max-width: 959px) {
  .pc,
.sp {
    display: none;
  }

  .tablet {
    display: block;
  }

  .hamburger {
    width: 50px;
    height: 50px;
    z-index: 30;
  }
  .hamburger .hbg_btn {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .hamburger .hbg_btn .close {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  .hamburger .open .hbg_btn-line {
    width: 40px;
    height: 1px;
    background-color: #FFFFFF;
    position: relative;
    transition: all 0.3s;
  }
  .hamburger .open .hbg_btn-line::before, .hamburger .open .hbg_btn-line::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    transition: all 0.3s;
  }
  .hamburger .open .hbg_btn-line::before {
    top: -14px;
  }
  .hamburger .open .hbg_btn-line::after {
    bottom: -14px;
  }
  .hamburger .close .hbg_btn-line {
    width: 25px;
    height: 1px;
    position: relative;
    background-color: #FFFFFF;
    visibility: hidden;
    transition: all 0.3s;
  }
  .hamburger .close .hbg_btn-line::before, .hamburger .close .hbg_btn-line::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    visibility: visible;
    transition: all 0.3s;
  }
  .hamburger .close .hbg_btn-line::before {
    top: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  }
  .hamburger .close .hbg_btn-line::after {
    bottom: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
  }

  /* openナビメニュー */
  .global-nav {
    display: none;
    width: 100%;
    height: 100vh;
    margin: auto auto;
    background-color: #354F74;
    background-size: cover;
    background-position: 46% 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: scroll;
  }
  .global-nav-contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .global-nav-contents li {
    margin-bottom: 35px;
    font-weight: bold;
  }
  .global-nav-contents a {
    color: #FFFFFF;
    font-size: 16px;
  }

  .nav-contents {
    text-align: center;
  }

  .gnav-sns-block {
    width: 140px;
    margin: 40px auto 0;
  }
  .gnav-sns-block ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gnav-sns-block li {
    width: 33px;
    margin-bottom: 0;
  }
}
/* SP ================================================== */
@media all and (max-width: 559px) {
  .pc,
.tablet {
    display: none;
  }

  .sp {
    display: block;
  }

  .hamburger {
    width: 50px;
    height: 50px;
    z-index: 30;
  }
  .hamburger .hbg_btn {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .hamburger .hbg_btn .close {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  .hamburger .open .hbg_btn-line {
    width: 40px;
    height: 1px;
    background-color: #FFFFFF;
    position: relative;
    transition: all 0.3s;
  }
  .hamburger .open .hbg_btn-line::before, .hamburger .open .hbg_btn-line::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    transition: all 0.3s;
  }
  .hamburger .open .hbg_btn-line::before {
    top: -14px;
  }
  .hamburger .open .hbg_btn-line::after {
    bottom: -14px;
  }
  .hamburger .close .hbg_btn-line {
    width: 25px;
    height: 1px;
    position: relative;
    background-color: #FFFFFF;
    visibility: hidden;
    transition: all 0.3s;
  }
  .hamburger .close .hbg_btn-line::before, .hamburger .close .hbg_btn-line::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    visibility: visible;
    transition: all 0.3s;
  }
  .hamburger .close .hbg_btn-line::before {
    top: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  }
  .hamburger .close .hbg_btn-line::after {
    bottom: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
  }

  /* openナビメニュー */
  .global-nav {
    display: none;
    width: 100%;
    height: 100vh;
    margin: auto auto;
    background-color: #354F74;
    background-size: cover;
    background-position: 46% 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: scroll;
  }
  .global-nav-contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .global-nav-contents li {
    margin-bottom: 35px;
    font-weight: bold;
  }
  .global-nav-contents a {
    color: #FFFFFF;
    font-size: 16px;
  }

  .nav-contents {
    text-align: center;
  }

  .gnav-sns-block {
    width: 140px;
    margin: 40px auto 0;
  }
  .gnav-sns-block ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gnav-sns-block li {
    width: 33px;
    margin-bottom: 0;
  }
}
.global-nav.is-show {
  display: block;
}

.header {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  z-index: 20;
}
.header .header-inner {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .header .header-inner {
    max-width: 90%;
  }
}
.header .header-inner .logo-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-inner .logo {
  width: 350px;
}
@media screen and (max-width: 959px) {
  .header .header-inner .logo {
    width: 250px;
    position: relative;
    z-index: 20;
  }
}
.header .header-inner .nav-area {
  max-width: 590px;
}
@media screen and (max-width: 959px) {
  .header .header-inner .nav-area {
    display: none;
  }
}
.header .header-inner .nav-area ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-inner .nav-area ul li {
  font-size: 16px;
  padding: 0 10px;
}
.header .header-inner .nav-area ul li a {
  display: block;
  width: 100%;
  color: #FFFFFF;
  transition: all 0.3s ease;
  position: relative;
}
.header .header-inner .nav-area ul li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: scale(0, 1);
  transform-origin: left top;
}
.header .header-inner .nav-area ul li a:hover::after {
  transition: all 0.3s ease;
  transform: scale(1, 1);
}

.body {
  opacity: 0;
}

.body.is-show {
  opacity: 1;
  transition: all 0.6s ease;
}

#main {
  width: 100%;
}
#main .main-inner {
  width: 100%;
  max-width: 1000px;
}

.main-visual {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  overflow: hidden;
}
.main-visual .top_wave {
  width: 100%;
  position: absolute;
  bottom: -1px;
}
.main-visual__image {
  width: 100%;
  height: 100%;
  background: url(../image/main_visual.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: -10;
}

.main-inner-txt {
  display: block;
  width: 560px;
  padding: 20px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: -5;
}
@media screen and (max-width: 959px) {
  .main-inner-txt {
    width: 100%;
    left: 0;
  }
}
@media screen and (min-width: 560px) and (max-width: 959px) {
  .main-inner-txt {
    width: 100%;
    left: 20%;
  }
}
.main-inner-txt_ttl {
  font-size: 50px;
  line-height: 1.3;
}
@media screen and (max-width: 959px) {
  .main-inner-txt_ttl {
    font-size: 30px;
  }
}
@media screen and (min-width: 560px) and (max-width: 959px) {
  .main-inner-txt_ttl {
    font-size: 40px;
  }
}
.main-inner-txt_txt {
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.6;
}
@media screen and (max-width: 959px) {
  .main-inner-txt_txt {
    font-size: 14px;
  }
}
@media screen and (min-width: 560px) and (max-width: 959px) {
  .main-inner-txt_txt {
    font-size: 20px;
  }
}

.main-inner-txt.is-none {
  display: none;
}

.scrolldown {
  width: 30px;
  height: 70px;
  position: absolute;
  right: 10%;
  bottom: 10px;
}
.scrolldown .scrolldown-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.scrolldown span {
  position: absolute;
  left: 6px;
  top: -100px;
  color: #707070;
  font-size: 20px;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 959px) {
  .scrolldown span {
    right: -7px;
    top: 9px;
    font-size: 14px;
    color: #333333;
    z-index: 1;
  }
}
.scrolldown::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 50px;
  background: #707070;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 50px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 70px;
    opacity: 0;
  }
}
.about {
  width: 100%;
  padding: 200px 0 0;
  background-color: #fff;
  position: relative;
}
@media screen and (max-width: 959px) {
  .about {
    padding: 100px 0 0;
  }
}
.about__inner {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.about__inner__contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 140px;
}
@media screen and (max-width: 959px) {
  .about__inner__contents {
    flex-direction: column-reverse;
    margin-bottom: 100px;
  }
}
.about__txt-area {
  width: calc(100% - 600px);
  margin: 0 70px 0 0;
}
@media screen and (max-width: 959px) {
  .about__txt-area {
    width: 100%;
  }
}
.about__txt-area__ttl {
  font-size: 30px;
  color: #707070;
  position: relative;
}
@media screen and (max-width: 959px) {
  .about__txt-area__ttl {
    display: none;
  }
}
.about__txt-area__ttl h2 {
  font-size: 26px;
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: 0.1em;
}
.about__txt-area__ttl__sp {
  display: none;
}
@media screen and (max-width: 959px) {
  .about__txt-area__ttl__sp {
    display: block;
    width: 80%;
    color: #707070;
    position: relative;
    margin: 0 0 60px auto;
  }
  .about__txt-area__ttl__sp h2 {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: 0.1em;
  }
}
.about__txt-area__head {
  font-size: 22px;
  margin-bottom: 15px;
}
@media screen and (max-width: 959px) {
  .about__txt-area__head {
    margin-top: 20px;
  }
}
.about__txt-area__txt {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin: 55px 0 0;
}
.about__txt-area__link {
  width: 100%;
}
@media screen and (max-width: 959px) {
  .about__txt-area__link {
    width: 100%;
  }
}
.about__txt-area__link a {
  width: 100%;
  height: 100%;
  margin: 47px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #707070;
}
.about__txt-area__link .link-icon {
  width: 103px;
  height: 103px;
  border: 1px solid #707070;
  border-radius: 100%;
  position: relative;
  transition: all 0.3s ease;
}
@media screen and (max-width: 959px) {
  .about__txt-area__link .link-icon {
    width: 80px;
    height: 80px;
  }
}
.about__txt-area__link .link-icon::after {
  content: "→";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
@media screen and (max-width: 959px) {
  .about__txt-area__link .link-icon::after {
    font-size: 20px;
  }
}
.about__txt-area__link .link-txt {
  font-size: 16px;
  letter-spacing: 0.05em;
  margin-left: 20px;
  position: relative;
}
.about__txt-area__link .link-txt::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333333;
  transition: all 0.3s ease;
  transform: scale(0, 1);
  transform-origin: left top;
}
.about__txt-area__link a:hover .link-icon {
  background-color: #333333;
  transition: all 0.3s ease;
}
.about__txt-area__link a:hover .link-icon::after {
  color: #FFFFFF;
  left: 55%;
  transition: all 0.3s ease;
}
.about__txt-area__link a:hover .link-txt::after {
  transition: all 0.3s ease;
  transform: scale(1, 1);
}
.about__image-area {
  width: 600px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 959px) {
  .about__image-area {
    width: 100%;
  }
}
.about__image-area__image {
  width: 334px;
}
@media screen and (max-width: 959px) {
  .about__image-area__image {
    width: 60%;
  }
}
.about__image-area__image02 {
  width: 218px;
  position: absolute;
  bottom: 40px;
  right: 50px;
  z-index: 5;
}
@media screen and (max-width: 959px) {
  .about__image-area__image02 {
    width: 160px;
  }
}
@media screen and (min-width: 560px) and (max-width: 959px) {
  .about__image-area__image02 {
    width: 300px;
  }
}
.about__image-area img {
  width: 100%;
}

@media screen and (max-width: 959px) {
  .about__second {
    flex-direction: column;
  }
}
.about__second .about__image-area {
  width: 420px;
}
@media screen and (max-width: 959px) {
  .about__second .about__image-area {
    width: 100%;
  }
}
.about__second .about__image-area__image {
  width: 100%;
  margin: 0 auto 70px;
}
.about__second .about__txt-area {
  width: calc(100% - 475px);
  margin: 0 auto;
}
@media screen and (max-width: 959px) {
  .about__second .about__txt-area {
    width: 100%;
  }
}
.about__second .about__txt-area__txt {
  margin: 30px auto;
  line-height: 1.4;
  letter-spacing: 0.15em;
}
@media screen and (max-width: 959px) {
  .about__second .about__txt-area__txt {
    margin: 20px auto;
    font-size: 14px;
  }
}

.wave__top {
  position: relative;
  bottom: -1px;
}
.wave__top .wave__ttl__area {
  width: 600px;
  position: absolute;
  top: 100px;
  right: 2%;
  font-size: 30px;
  color: #FFFFFF;
}
@media screen and (max-width: 959px) {
  .wave__top .wave__ttl__area {
    width: 100%;
    right: 0;
    padding: 0 4%;
    font-size: 18px;
  }
}
.wave__top .wave__ttl__area .wave__ttl {
  width: 100%;
}
.wave__top .wave__ttl__area img {
  width: 100%;
}
.wave__top .wave__ttl__area h2 {
  position: absolute;
  top: 20px;
  right: 20px;
  letter-spacing: 0.1em;
}
.wave__top .wave__ttl__area .wave__lead {
  width: 90%;
  font-size: 15px;
  margin-top: 40px;
  line-height: 1.4;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 959px) {
  .wave__top .wave__ttl__area .wave__lead {
    width: 100%;
    margin: 40px auto 10px;
    font-size: 14px;
  }
}
.wave__top .wave__ttl__area span {
  font-size: 12px;
}

.partner-wave h2 {
  color: #707070;
}
.partner-wave .wave__lead__ttl {
  color: #000000;
  font-size: 20px;
  padding-left: 30px;
  margin-top: 30px;
}
.partner-wave .wave__lead {
  color: #000000;
  padding-left: 30px;
}

#service {
  padding: 100px 0 0;
  margin: -100px 0 0;
}

.service {
  width: 100%;
  background-color: #354F74;
}
.service__inner {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 140px 0;
}
@media screen and (max-width: 959px) {
  .service__inner {
    padding: 330px 0 50px;
  }
}
.service .service-lists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.service .service-lists__item {
  width: calc(25% - 30px);
  margin: 0 auto 100px;
  color: #FFFFFF;
}
@media screen and (max-width: 959px) {
  .service .service-lists__item {
    width: calc(50% - 20px);
  }
}
.service .service-lists__item__icon {
  width: 70%;
  margin: 0 auto 40px;
}
.service .service-lists__item__ttl {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
}
.service .service-lists__item__txt {
  height: 110px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  margin: 20px 0 0;
}
@media screen and (max-width: 959px) {
  .service .service-lists__item__txt {
    font-size: 13px;
    height: 130px;
  }
}
.service .service-lists__item .rank {
  color: #333333;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}
@media screen and (max-width: 959px) {
  .service .service-lists__item .rank {
    font-size: 12px;
  }
}
.service .service-lists__item .rank dl {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.service .service-lists__item .rank dt {
  width: 120px;
}

#partner {
  padding: 100px 0 0;
  margin: -100px 0 0;
}

.partner {
  width: 100%;
  background-color: #FFFFFF;
}
.partner__inner {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0 180px;
}
@media screen and (max-width: 959px) {
  .partner__inner {
    padding: 250px 0 100px;
  }
}
.partner__image {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 959px) {
  .partner__image {
    width: 90%;
  }
}
.partner-choice {
  width: 80%;
  margin: 50px auto 0;
}
.partner-choice__ttl {
  font-size: 24px;
  text-align: center;
}

.choice-list {
  width: 80%;
  margin: 80px auto;
}
@media screen and (max-width: 959px) {
  .choice-list {
    width: 90%;
  }
}
.choice-list li {
  margin-bottom: 70px;
}
@media screen and (max-width: 959px) {
  .choice-list li {
    margin-bottom: 90px;
  }
}
.choice-list__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 959px) {
  .choice-list__item {
    display: block;
  }
}
.choice-list__ttl {
  width: 380px;
  border-bottom: 3px solid #707070;
  position: relative;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 959px) {
  .choice-list__ttl {
    width: 100%;
  }
}
.choice-list__ttl p {
  padding: 0 0 10px 30px;
  color: #333333;
  font-size: 20px;
}
@media screen and (max-width: 959px) {
  .choice-list__ttl p {
    font-size: 18px;
  }
}
.choice-list__ttl::before {
  content: "";
  background-image: url(../image/choice-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: -14px;
  left: 0;
  width: 18px;
  height: 45px;
}
@media screen and (max-width: 959px) {
  .choice-list__ttl::before {
    top: -14px;
    left: -3px;
  }
}
.choice-list__ttl::after {
  content: "";
  position: absolute;
  top: 20px;
  right: -4px;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: #707070;
  transform: rotate(45deg);
}
@media screen and (max-width: 959px) {
  .choice-list__ttl::after {
    top: 17px;
    right: -4px;
  }
}
.choice-list__btn p {
  display: block;
  width: 150px;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #354F74;
  border: 2px solid #333333;
}
@media screen and (max-width: 959px) {
  .choice-list__btn p {
    width: 200px;
    padding: 13px 20px;
    font-weight: bold;
    font-size: 15px;
    margin: 10px auto;
  }
}
.choice-list__item__txt {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin: 20px 0 0;
}

.apply {
  width: 80%;
  height: 60px;
  margin: 100px auto 0;
  background-color: #36B900;
  padding: 10px;
  transition: all 0.5s;
  box-shadow: 0 7px 6px #333333;
}
@media screen and (max-width: 959px) {
  .apply {
    width: 100%;
    height: 80px;
  }
}
.apply a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #FFFFFF 1px solid;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
}
.apply:hover {
  opacity: 0.6;
  transition: all 0.5s;
}

.works-wave h2 {
  color: #FFFFFF;
}
.works-wave .wave__lead__ttl {
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 30px;
  margin-top: 30px;
}
.works-wave .wave__lead {
  color: #FFFFFF;
  padding-left: 30px;
}

#works {
  padding: 100px 0 0;
  margin: -100px 0 0;
}

.works {
  width: 100%;
  background-color: #354F74;
}
.works__inner {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 0 100px;
}
.works .works__box {
  width: 100%;
  margin-bottom: 80px;
}
@media screen and (max-width: 959px) {
  .works .works__box {
    display: block;
    padding: 0 0 20px;
    margin: 0 auto 80px;
  }
}
.works .works__box__image {
  width: 100%;
  margin-bottom: 50px;
}
@media screen and (max-width: 959px) {
  .works .works__box__image {
    width: 100%;
  }
}
.works .works__box__txt-area {
  width: 100%;
  color: #FFFFFF;
}
@media screen and (max-width: 959px) {
  .works .works__box__txt-area {
    width: 100%;
    margin: 30px auto 0;
  }
}
.works .works__box__txt-area__ttl {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 50px;
}
.works .works__box__txt-area__txt {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.075em;
}
@media screen and (max-width: 959px) {
  .works .works__box__txt-area__txt {
    font-size: 14px;
  }
}
.works .works__box .works__txt-area__link {
  width: 100%;
}
.works .works__box .works__txt-area__link a {
  width: 100%;
  height: 100%;
  margin: 47px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFFFFF;
}
.works .works__box .works__txt-area__link .link-icon {
  width: 103px;
  height: 103px;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  position: relative;
  transition: all 0.3s ease;
}
@media screen and (max-width: 959px) {
  .works .works__box .works__txt-area__link .link-icon {
    width: 80px;
    height: 80px;
  }
}
.works .works__box .works__txt-area__link .link-icon::after {
  content: "→";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
@media screen and (max-width: 959px) {
  .works .works__box .works__txt-area__link .link-icon::after {
    font-size: 20px;
  }
}
.works .works__box .works__txt-area__link .link-txt {
  margin-left: 20px;
  font-size: 16px;
  letter-spacing: 0.05em;
  position: relative;
  transition: all 0.3s ease;
}
.works .works__box .works__txt-area__link .link-txt::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: scale(0, 1);
  transform-origin: left top;
}
.works .works__box .works__txt-area__link a:hover .link-icon {
  background-color: #FFFFFF;
  transition: all 0.3s ease;
}
.works .works__box .works__txt-area__link a:hover .link-icon::after {
  color: #333333;
  left: 55%;
  transition: all 0.3s ease;
}
.works .works__box .works__txt-area__link a:hover .link-txt::after {
  transition: all 0.3s ease;
  transform: scale(1, 1);
}
.works .works__box:last-child {
  margin-bottom: 0;
}

.wave__bottom {
  position: relative;
  top: -1px;
}

.foot-empty {
  width: 100%;
  height: 200px;
}

.footer {
  width: 100%;
  padding: 30px 0;
  background-color: #354F74;
}
.footer__inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (max-width: 959px) {
  .footer__inner {
    display: none;
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__top .footer-link {
  display: block;
  font-size: 16px;
  color: #FFFFFF;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__top .footer-link::before {
  content: "→";
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #333333;
  background-color: #FFFFFF;
}
.footer__top .footer-link p {
  padding-left: 30px;
}
.footer__top .privacy-link {
  display: block;
  margin-top: 20px;
  font-size: 11px;
  color: #FFFFFF;
}
.footer__top .footer-link:first-child {
  margin-bottom: 20px;
}
.footer__top .footer-link:first-child::before {
  background-color: #12EC0A;
  color: #FFFFFF;
}
.footer__top__right ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer__top__right li {
  margin-right: 15px;
}
.footer__top__right a {
  color: #FFFFFF;
  font-size: 12px;
}
.footer__bottom {
  width: 100%;
  max-width: 800px;
  border-top: #707070 solid 1px;
  padding: 20px 0 0;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom small {
  font-size: 12px;
  color: #FFFFFF;
}
.footer__bottom .footer__logo {
  width: 220px;
}
.footer__fixed {
  display: none;
}
@media screen and (max-width: 959px) {
  .footer__fixed {
    display: block;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: #36B900;
    position: fixed;
    bottom: 0;
    z-index: 15;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    transform: translateY(60px);
  }
}
.footer__fixed__inner {
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
  margin: 0 auto;
}
.footer__fixed__inner a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.footer .is-show {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease;
  transform: translateY(0px);
}