////////////////////* font *////////////////////

//Base font
$base_font: "Yu Mincho",serif;


////////////////////* Color *////////////////////

//Color
$body_color : #FFFFFF;
$sub_color : #354F74;

$txt_color: #333333;

$ttl_color : #707070;

$link_color :#707070;






