////////////////////* privacy *////////////////////
@use 'mixin' as m;
@use 'variables' as v;

.header {
	background-color: v.$sub_color;
}
.privacy {
	width: 100%;
	padding: 80px 0 50px;
	background-color: v.$sub_color;

	&__top-area {

		.underLayer-top-wave {
			width: 100%;
			position: relative;

			.privacy__ttl {
				width: calc(100% - 600px);
				margin: 0 70px 0 0;
				font-size: 30px;
				color: #FFFFFF;
				position: absolute;
				top: 90px;
				right: 0;
				@include m.mq(sp) {
					width: 300px;
					top: 50px;
					right: -50px;
				}
				h2 {
					font-size: 26px;
					position: absolute;
					top: 0;
					right: 0;
					letter-spacing: 0.1em;
				@include m.mq(sp) {
					font-size: 14px;
				}
				}
			}
		}
	}
	&__inner {
		width: 100%;
		max-width: 1000px;
		padding: 50px;
		margin: 100px auto 0;
		background-color: #476393;
		@include m.mq(sp) {
			padding: 40px 20px;
			margin: 50px auto 0;
		}
	}

	&__disc	{
		color: #FFFFFF;
		text-align: center;
		margin: 0 auto 110px;
		@include m.mq(sp) {
			margin: 0 auto 50px;
		}
		&__ttl {
			display: inline-block;
			font-size: 28px;
			margin: 0 auto 30px;
			position: relative;
			&::before {
				content: '';
				width: 8px;
				height: 22px;
				background-image: url(../image/details-ttl.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 0 0;
				position: absolute;
				top: 5px;
				left: -20px;
			}
		}
		&__lead {
			width: 80%;
			margin: 0 auto;
			text-align: left;
			font-size: 16px;
			line-height: 1.4;
			@include m.mq(sp) {
				width: 100%;
				font-size: 14px;
			}
		}
		
	}
}



.privacy-sp {
	display: block;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
